body{
    width: 100vw;
    height: 99wh;
    background-color: rgb(20, 84, 140);
}
a{
    text-decoration: none;
}
.titulo{
    display: flex;
    position: absolute;
    font-size: 3vi;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    top: 2vi;
    left: 4vi;
}
.todos{
    display: flex;
    position: absolute;
    font-size: 2vi;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    top: 12vi;
    left: 8vi;
}
.abrigos{
    position: absolute;
    display: flex;
    font-size: 2vi;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    top: 16vi;
    left: 9vi;
}
.camisetas{
    position: absolute;
    font-size: 2vi;
    display: flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    top: 20vi;
    left: 9vi;
}
.pantalones{
    display: flex;
    position: absolute;
    font-size: 2vi;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    top: 24vi;
    left: 9vi;
}
.carritos{
    position: absolute;
    font-size: 2vi;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    top: 34vi;
    left: 9vi;
}
.derechos{
    display: flex;
    position: absolute;
    font-size: 2vi;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    top: 42vi;
    left: 7vi;
}
.pagina2{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    position: absolute;
    border: rgb(14, 160, 208) 0.3vi solid;
    background-color: rgb(132, 175, 255);
    border-radius: 1vi;
    top: 2vi;
    left: 27vi;
    width: 66vi;
    height: 35vi;
    padding: 6vi 2vi;
    overflow-y: auto;
    overflow-x: hidden;
}
.titulo2{
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vi;
    color: #ffffff;
    top: 1vi;
    left: 2vi;
}
.cuadros{
    position: relative;
    margin: 0vi 0vi 0.5vi;
    border: rgb(0, 38, 128) 0.1vi solid;
    background-color: #bedaf6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5vi;
    border-radius: 2vi;
    width: 65vi;
    height: 10vi;
}
.imagenes{
    position: relative;
    left: 2vi;
    border-radius: 2vi;
    width: 8vi;
    height:8vi;
}
.cuadrito{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 65vi;
    height: 9vi;
}
.textoV{
    position: relative;
    font-size: 1.5vi;
    padding: 0.5vi;
    background-color: #2873ac ;
    color: white;
    width: 15vi;
    top: 4.5vi;
    left: 1vi;
    justify-content: center;
    text-align: center;
    border: #8ed4ff 0.2vi solid;
}
.comprar{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: rgb(0, 38, 128) 0.1vi solid;
    background-color: #bedaf6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5vi;
    border-radius: 2vi;
    width: 30vi;
    height: 6vi;
    left: 35vi;
    top: 0vi;
}
.T{
    position: relative;
    left: 2vi;
    grid-row: 1;
    grid-column: 1;
}

.textoC{
    position: relative;
    top: 1vi;
    left: 3vi;
    grid-column: 2;
    grid-row: 1/2;
    background-color: #2873ac ;
    font-size: 1.5vi;
    color: white;
    width: 10vi;
    height: 4vi;
    justify-content: center;
    text-align: center;
    border: #8ed4ff 0.2vi solid;
}

