
.titulo{
    position: absolute;
    font-size: 2vi;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: green;
    top: 2vi;
    left: 4vi;
}
.abrigos{

}
.camimsetas{

}
.pantalones{

}
.carritos{

}
.derechos{
    
}